.gasDetailGraph-lineGraph .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gasDetailGraph-lineGraph { 
  position: relative;
  border-radius: 20px;
  background: #2F3B49;
  margin: 5px;
  display: flex;
  align-items: center;
}

.gasDetailGraph-title {
  color: #fff;
  font-size: 65px;
  text-align: center;
  width: 200px;
}
